{{define "body"}}
<link
    rel="stylesheet"
    href="/gs/css/home.css"
/>
<div id="home">
    <h1>Track Timeline</h1>
    <div id="home-buttons">
        {{if .LoggedIn}}
        <div>
            <a href="/track-timeline/lobbies"><button>Game Lobbies</button></a>
        </div>
        <div>
            <a href="/decks"><button>Song Decks</button></a>
        </div>
        <div>
            <a href="/stats"><button>Statistics</button></a>
        </div>
        <div>
            <a href="/account"><button>Account</button></a>
        </div>
        {{else}}
        <div>
            <a href="/login"><button>Login</button></a>
        </div>
        {{end}}
        <div>
            <a href="/about"><button>About</button></a>
        </div>
        {{if .User.IsAdmin}}
        <div>
            <a href="/users"><button>Users</button></a>
        </div>
        <div>
            <a href="/categories"><button>Genres</button></a>
        </div>
        {{end}}
    </div>
</div>
{{end}}
