<table class="player-table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Songs</th>
            <th>Tokens</th>
        </tr>
    </thead>
    <tbody>
        {{range .Players}}
        {{if .IsActive}}
        <tr class="{{if .IsCurrent}}is-current{{end}}">
            <td>
                {{if .IsCurrent}}<span class="bi bi-caret-right-fill"></span>{{end}}
                {{.UserName}}
            </td>
            <td>{{.TimelineSize}} / {{$.CardsToWin}}</td>
            <td>{{.TokenCount}}</td>
        </tr>
        {{end}}
        {{end}}
    </tbody>
</table>
